$align-positions: center, /* Pack items around the center */
start, /* Pack items from the start */
end, /* Pack items from the end */
flex-start, /* Pack flex items from the start */
flex-end, /* Pack flex items from the end */

  /* Normal alignment */
normal,
  /* Baseline alignment */
baseline,
first baseline,
last baseline,
  /* Distributed alignment */
space-between, /* Distribute items evenly
                                 The first item is flush with the start,
                                 the last is flush with the end */
space-around, /* Distribute items evenly
                                 Items have a half-size space
                                 on either end */
space-evenly, /* Distribute items evenly
                                 Items have equal space around them */
stretch;
/* Distribute items evenly
                          Stretch 'auto'-sized items to fit
                          the container */

@each $position in $align-positions {
  .align-#{$position} {
    align-items: $position;
  }
  .align-self-#{$position} {
    align-self: $position;
  }
}
