

#btn {
  border-top: 1px solid #a799eb;
   background: rgb(41, 119, 244);
   padding-left: 10%;
   padding-right: 10%;
   border-radius: 8px;
   color: rgb(252, 252, 253);
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   text-overflow: ellipsis;
   overflow: hidden;
   width: 80%;
  margin-bottom: 30px;
  
}

form  {
  margin: 30px auto 30px;
  width: 50%;
  text-decoration: none;
}

