body {
  background-image: url('snowyview.jpg');
  color: white;
  background-attachment: fixed;
  background-repeat: inherit;
  
}


#btn {
  border-top: 1px solid #a799eb;
   background: rgb(41, 119, 244);
   padding-left: 10%;
   padding-right: 10%;
   border-radius: 8px;
   color: rgb(252, 252, 253);
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   text-overflow: ellipsis;
   overflow: hidden;
   width: 100%;
  margin-bottom: 30px;
  
}

form  {
  margin: 30px auto 30px;
  width: 50%;
  text-decoration: none;
}

.form-control {
  margin: 0px auto;
}

#firstName, #lastName, #inputEmail, #hometown {
  border-radius: 7px;
  padding-bottom: 0px;
}

.container-form {
  background-color: rgba(122, 190, 209, 0.7);
  width: 45%;
  height: 800px;
  text-align: left;
  margin: 0 auto;
  border-radius: 10px;
}

label {
  margin: 8px auto;
  padding-top: 10px;
  display: inline;
}

#text2 {
  font-family: georgia, serif;
  color: white;
  text-align: center;
}

#text {
  font-family: georgia, serif;
  color: white;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 0px;
}

hr {
  width: 500px;
}

