<section class="footer padding-top-4 padding-bottom-3">
        <div class="row">
            <div class="contactUs padding-horizontal-12">
                <ul>
                    <li>
                        <h3>Contact Us</h3>
                    </li>
                    <li>Open Monday-Friday</li>
                    <li>9am - 5pm</li>
                    <li>PO Box 17152</li>
                    <li>Holladay, UT 84117</li>
                    <li>877.562.7885 //</li>
                    <li>info@nichesnowboards.com</li>
                </ul>
            </div>
            <div class="snowboardTypes padding-horizontal-12">
                <ul>
                    <li>
                        <h3>Snowboards</h3>
                    </li>
                    <li><a href="">All Mountain</a></li>
                    <li><a href="">Park</a></li>
                    <li><a href="">Powder</a></li>
                    <li><a href="">Mens</a></li>
                    <li><a href="">Womens</a></li>
                </ul>

            </div>
            <div class="resources padding-horizontal-12">
                <ul>
                    <li>
                        <h3>Resources</h3>
                    </li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">News</a></li>
                </ul>
            </div>
            <div class="socialMedia padding-horizontal-12">
                <ul>
                    <li>
                        <h3>Follow Us On</h3>
                    </li>
                    <div class="row">
                        <li><a class="padding-horizontal-4" href=""><img src="../../assets/images/grayFB.jpg"
                                    alt=""></a></li>
                        <li><a class="padding-horizontal-4" href=""><img src="../../assets/images/grayTwitter.jpg"
                                    alt=""></a></li>
                        <li><a class="padding-horizontal-4" href=""><img src="../../assets/images/grayInsta.jpg"
                                    alt=""></a></li>
                    </div>
                </ul>
            </div>
        </div>
    </section>
    <hr>
    <div class="copyright padding-1">
        <p>© 2020, <a>Niche Snowboards</a>. <a>Powered by Shopify</a></p>
    </div>