.image {
    width: 100%;
    position: absolute;
  }

 .big-text {
     position: relative;
     width: 50%;
     float: right;

 }

 .good-wood{
     position: absolute;
     width: 10%;
 }

 .snow-row{
     width: 100%    ;
 }


.award-icon {
    width: 20%;
}

.carousel {
    padding-top: 37em;
    padding-bottom: 5em;
}

.d-block {
    margin: 0 7em;
    height: 10%;
    width: 10%;
}

mdb-carousel-item {
    padding-left: 15%;
}