<app-navigation-bar class="navigation"></app-navigation-bar>
<div class="body">
    <div>
        <!-- <img class="image" src="../../assets/images/Niche_Hero.png" alt=""> -->
        <img class="image" src="../../assets/images/Niche_Hero.png" alt="">
        <div class="big-text padding-top-6 padding-right-12 margin-top-2">
            <h2 class="gold-text-large .source-sans-pro">HANDCRAFTED ENVIRONMENTALLY FRIENDLY SNOWBOARDS IS WHAT WE DO
                BEST
            </h2>
            <p class="is-normal padding-top-1 padding-bottom-1">Our snowboards are lightweight, eco-friendly and award
                winning, see for yourself!</p>
            <div class="row">
                <div class="award-icon">
                    <img class="good-wood" src="../../assets/svg/good-wood-1.svg" alt="">
                </div>
                <div class="award-icon">
                    <img class="good-wood" src="../../assets/svg/good-wood-2.svg" alt="">
                </div>
                <div class="award-icon">
                    <img class="good-wood" src="../../assets/svg/good-wood-3.svg" alt="">
                </div>
                <div class="">
                    <a class="buy-now-btn btn-effect">BUY A NICHE</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <section class="carousel">
            <mdb-carousel [animation]="'slide'">
                <mdb-carousel-item class="carousel-item padding-top-8 padding-bottom-4 padding-left-14">
                    <div class="d-block">
                        <img src="../../assets/images/snowboard1.jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>
                    </div>
                    <div class="d-block">
                        <img src="../../assets/images/snowboard2.jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>

                    </div>
                    <div class="d-block">
                        <img src="../../assets/images/snowboard3 (3).jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item class="padding-top-8 padding-bottom-4 padding-left-14">
                    <div class="d-block">
                        <img src="../../assets/images/snowboard4.jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>
                    </div>
                    <div class="d-block">
                        <img src="../../assets/images/snowboard5.jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>
                    </div>
                    <div class="d-block">
                        <img src="../../assets/images/snowboard6.jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item class="padding-top-8 padding-bottom-4 padding-left-14">
                    <div class="d-block">
                        <img src="../../assets/images/snowboard1.jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>
                    </div>
                    <div class="d-block">
                        <img src="../../assets/images/snowboard2.jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>

                    </div>
                    <div class="d-block">
                        <img src="../../assets/images/snowboard3 (3).jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item class="padding-top-8 padding-bottom-4 padding-left-14">
                    <div class="d-block">
                        <img src="../../assets/images/snowboard4.jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>
                    </div>
                    <div class="d-block">
                        <img src="../../assets/images/snowboard5.jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>
                    </div>
                    <div class="d-block">
                        <img src="../../assets/images/snowboard6.jpg.png">
                        <h6 class="padding-top-2 model-name">18/19 Minx</h6>
                        <h4 class="price">$399.00</h4>
                        <a class="buy-now-btn btn-effect margin-top-2">Buy Now</a>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </section>
    </div>
    <div>
        <section class="carousel-testimonial">
            <mdb-carousel [animation]="'slide'">
                <mdb-carousel-item class="testimonial">
                    <div class="testimonial">
                        <img src="../../assets/images/Snowboarder portrait.jfif" alt="">
                    </div>

                    <div class="testimonial-quote margin-horizontal-12">
                        <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel dignissimos maiores nulla
                            dolor.
                            Nihil repellendus, provident aliquid dolorum, cum ex quaerat nesciunt quae, omnis voluptas
                            ad
                            quasi dolores sed. Vel."
                            <span><a class="see-more">See More</a></span>
                        </p>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item class="testimonial">
                    <div class="testimonial-quote margin-horizontal-12">
                        <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel dignissimos maiores nulla
                            dolor.
                            Nihil repellendus, provident aliquid dolorum, cum ex quaerat nesciunt quae, omnis voluptas
                            ad
                            quasi dolores sed. Vel."
                            <span><a class="see-more">See More</a></span>
                        </p>
                    </div>
                    <div class="testimonial">
                        <img src="../../assets/images/snowboarder portrait2.jfif" alt="">
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item class="testimonial">
                    <div class="testimonial">
                        <img src="../../assets/images/snowrock.jpg" alt="">
                    </div>
                    <div class="testimonial-quote margin-horizontal-12">
                        <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel dignissimos maiores nulla
                            dolor.
                            Nihil repellendus, provident aliquid dolorum, cum ex quaerat nesciunt quae, omnis voluptas
                            ad
                            quasi dolores sed. Vel."
                            <span><a class="see-more">See More</a></span>
                        </p>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item class="testimonial">
                    <div class="testimonial-quote margin-horizontal-12">
                        <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel dignissimos maiores nulla
                            dolor.
                            Nihil repellendus, provident aliquid dolorum, cum ex quaerat nesciunt quae, omnis voluptas
                            ad
                            quasi dolores sed. Vel."
                            <span><a class="see-more">See More</a></span>
                        </p>
                    </div>
                    <div class="testimonial">
                        <img src="../../assets/images/Snowboarder portrait3.jfif" alt="">
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item class="testimonial">
                    <div class="testimonial">
                        <img src="../../assets/images/yellow-hoodie.jfif" alt="">
                    </div>
                    <div class="testimonial-quote margin-horizontal-12">
                        <p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel dignissimos maiores nulla
                            dolor.
                            Nihil repellendus, provident aliquid dolorum, cum ex quaerat nesciunt quae, omnis voluptas
                            ad
                            quasi dolores sed. Vel."
                            <span><a class="see-more">See More</a></span>
                        </p>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </section>
    </div>
    <section class="footer padding-top-4">
        <div class="row">
            <div class="contactUs padding-horizontal-12">
                <h3>Contact Us</h3>
                <p>Open Monday-Friday</p>
                <p>9am - 5pm</p>
                <p>PO Box 17152</p>
                <p>Holladay, UT 84117</p>
                <p>877.562.7885 //</p>
                <p>info@nichesnowboards.com</p>
            </div>
            <div class="snowboardTypes padding-horizontal-12">
                <h3>Snowboards</h3>
                <p><a href="">All Mountain</a></p>
                <p><a href="">Park</a></p>
                <p><a href="">Powder</a></p>
                <p><a href="">Mens</a></p>
                <p><a href="">Womens</a></p>
            </div>
            <div class="resources padding-horizontal-12">
                <h3>Resources</h3>
                <p><a href="">FAQs</a></p>
                <p><a href="">News</a></p>
            </div>
            <div class="socialMedia padding-horizontal-12">
                <h3>Follow Us On</h3>
                <a class="padding-horizontal-4" href=""><img src="../../assets/images/grayFB.jpg" alt=""></a>
                <a class="padding-horizontal-4" href=""><img src="../../assets/images/grayTwitter.jpg" alt=""></a>
                <a class="padding-horizontal-4" href=""><img src="../../assets/images/grayInsta.jpg" alt=""></a>
            </div>
        </div>
    </section>
    <hr>
    <div class="copyright">
        <p>© 2020, <a>Niche Snowboards</a>. <a>Powered by Shopify</a></p>
    </div>
</div>