<app-navigation-bar class="navigation"></app-navigation-bar>

<div>
    <!-- <img class="image" src="../../assets/images/Niche_Hero.png" alt=""> -->
    <img class="image" src="../../assets/images/Niche_Hero.png" alt="">
    <div class="big-text padding-top-6 padding-right-12 margin-top-2">
        <h2 class="gold-text-large .source-sans-pro">HANDCRAFTED ENVIRONMENTALLY FRIENDLY SNOWBOARDS IS WHAT WE DO BEST
        </h2>
        <p class="is-normal padding-top-1 padding-bottom-1">Our snowboards are lightweight, eco-friendly and award
            winning, see for yourself!</p>
        <div class="row">
            <div class="award-icon">
                <img class="good-wood" src="../../assets/svg/good-wood-1.svg" alt="">
            </div>
            <div class="award-icon">
                <img class="good-wood" src="../../assets/svg/good-wood-2.svg" alt="">
            </div>
            <div class="award-icon">
                <img class="good-wood" src="../../assets/svg/good-wood-3.svg" alt="">
            </div>
            <div class="">
                <button class="buy-now">BUY A NICHE</button>
            </div>
        </div>
    </div>
</div>

<div>
    <section class="carousel">
        <mdb-carousel [animation]="'slide'">
            <mdb-carousel-item class="padding-top-12 padding-bottom-12">
                    <img class="d-block" src="../../assets/images/snowboard1.jpg">
                    <img class="d-block" src="../../assets/images/snowboard2.jpg">
                    <img class="d-block" src="../../assets/images/snowboard3.jpg">
            </mdb-carousel-item>
            <mdb-carousel-item class="padding-top-12 padding-bottom-12">
                    <img class="d-block" src="../../assets/images/snowboard4.jpg">
                    <img class="d-block" src="../../assets/images/snowboard5.jpg">
                    <img class="d-block" src="../../assets/images/snowboard6.jpg">
            </mdb-carousel-item>
        </mdb-carousel>

    </section>
</div>