<div class="snow-wrapper">
  <div class="snow-header snow-row padding-left-27">
    <div class="snow-row">
      <img src="../assets/images/phone-9-16.png" alt="">
      <a class="gold-text padding-left-1 padding-right-2" href="#">801-867-5653</a>
      <img src="../assets/images/envelope-closed-16.png" alt="">
      <a class="gold-text padding-left-1" href="">info@snowbaords.com</a>
      <h6 class="lighter-text padding-left-2 margin-bottom-0">Lightweight // Award-Winning // Eco-Friendly Snowboards
      </h6>
    </div>
    <div class="social-media padding-left-27">
      <ul class="snow-row margin-bottom-0">
        <li class="padding-right-3">
          <a class="gold-text" href=""><img class="social-media-icons" src="../../assets/images/facebook icon.jpg" alt=""></a>
        </li>
        <li class="padding-right-3">
          <a class="gold-text" href=""><img class="social-media-icons" src="../../assets/images/twitter icon.jpg" alt=""></a>
        </li>
        <li>
          <a class="gold-text" href=""><img class="social-media-icons" src="../../assets/images/instagram icon.jpg" alt=""></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div (click)="goHome()" class="padding-left-15 pointer">
  <div class="logo padding-top-2 margin-top-1">
    <div class="padding-left-2">
      <h6>ECO-FRIENDLY</h6>
    </div>
    <div class="padding-left-1">
      <h3>*NICHE</h3>
    </div>
    <div class="padding-left-2">
      <H6>SNOWBOARDS</H6>
    </div>
  </div>
</div>
<div class="snow-header2">
  <div class="flex-header">
    <nav class="white-text header-menu padding-right-30">
      <div class="dropdown">
        <ul class="pointer is-normal">
          <li class="dropdown-title padding-top-2">
            <a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a>
          </li>
          <ul class="dropdown-content">
            <li class="menu-item">About Niche</li>
            <li class="menu-item">Team</li>
            <li class="menu-item">The Mothership</li>
            <li class="menu-item">Dealers</li>
          </ul>
        </ul>
      </div>
      <div class="dropdown">
        <ul class="pointer is-normal">
          <li class="dropdown-title padding-top-2">
            Snowboards
          </li>
          <div class="dropdown-content">
            <li class="menu-item">All Mountain</li>
            <li class="menu-item">Park</li>
            <li class="menu-item">Men's</li>
            <li class="menu-item">Women's</li>
          </div>
        </ul>
      </div>
      <div class="dropdown">
        <ul class="pointer is-normal">
          <li class="dropdown-title padding-top-2">
            Sustainable Technology
          </li>
          <div class="dropdown-content">
            <li class="sust-tech">"Green" Technology</li>
            <li class="menu-item">Recyclamine</li>
          </div>
        </ul>
      </div>
      <div class="dropdown">
        <ul class="pointer is-normal">
          <li class="dropdown-title padding-top-2">
            News
          </li>
        </ul>
      </div>
      <div class="dropdown dropdown-title">
          <ul class="pointer is-normal">
            <li class="dropdown-title padding-top-2">
                <img class="pointer is-normal" src="../assets/images/cart-46-24.png" alt="">
            </li>
          </ul>
        </div>
    </nav>
  </div>
</div>