@import "styles/buttons.scss";
@import "styles/colors.scss";
@import "styles/forms.scss";
@import "styles/helper-styles.scss";
@import "styles/typography.scss";

//COLORS
$bg-color: #212121;
$icon-links: #8a7d5c;
$bg-dropdown: #333333;
$menu-items: #ffff;
$title-para: #8a7d5b;
$Buy-btn: #efefef82;

//FONTS
$text-font: Arial, verdana, sans-serif;
$headline-font: "Palatino Linotype", Georgia, serif;
//SIZES
$header-links: 12px;
$small: 10px;
$large-text: 30px;
//PADDING AND MARGINS

$types: margin, padding;

$positions: left, right, bottom, top;

@each $type in $types {
  @each $position in $positions {
    @for $i from 0 through 48 {
      .#{$type}-#{$position}-#{$i} {
        #{$type}-#{$position}: #{$i/1}em !important;
      }
    }
  }
}

@each $type in $types {
  @for $i from 0 through 48 {
    .#{$type}-horizontal-#{$i} {
      #{$type}-left: #{$i/3}em !important;
      #{$type}-right: #{$i/3}em !important;
    }
    .#{$type}-vertical-#{$i} {
      #{$type}-top: #{$i/3}em !important;
      #{$type}-bottom: #{$i/3}em !important;
    }
    .#{$type}-#{$i} {
      #{$type}: #{$i/3}em !important;
    }
  }
}

.snow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: $bg-color;
  border-bottom: solid rgba(138, 125, 92, 0.2);
}

.snow-row {
  font-size: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.snow-header{
  display: flex;
  align-items: center;
  width: 100%;
}

.snow-header2 {
  background: $bg-color;
  height: 95px;
}

.is-normal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.gold-text{
  color: $icon-links;
  font-size: $small;
}

.gold-text-large {
  color: $icon-links;
  font-size: $large-text;
  font-family: Arial, Helvetica, sans-serif;
}

.white-text {
  color: $menu-items;
  font-size: 9px;
}

.lighter-text{
  color: #f7f1f1cb;
  font-size: 10px;
}

.pointer {
  cursor: pointer;
}

.pointer-default {
  cursor: default;
}

ul li {
  list-style-type: none;
}



.social-media {
  float: right;
}

a {
  font-size: $small;

  &:hover{
    color: $icon-links; 
  }
}


.logo {
  position: absolute;
  width: 130px;
  height: 130px;
  background: $bg-color;
  border-radius: 50%;
  border: solid $menu-items;
  color: $menu-items;
  z-index: 1;
  h6 {
    font-size: .5rem;
  }
  a{
    text-align: center;
    color: #ffff;
  }
}

.flex-header {
  display: flex;
  justify-content: flex-end
}

.header-menu {
  display: flex;
  li {
    font-size: initial;
    padding: 0 40px;
  }
}

