@import "styles/buttons.scss";
@import "styles/colors.scss";
@import "styles/forms.scss";
@import "styles/helper-styles.scss";
@import "styles/typography.scss";

//COLORS
$bg-color: #212121;
$icon-links: #8a7d5c;
$bg-dropdown: #333333;
$menu-items: #ffff;
$title-para: #8a7d5b;
$Buy-btn: #efefef82;

//FONTS
$text-font: Arial, verdana, sans-serif;
$headline-font: "Palatino Linotype", Georgia, serif;
//SIZES
$header-links: 12px;
$small: 10px;
//PADDING AND MARGINS

$types: margin, padding;

$positions: left, right, bottom, top;

@each $type in $types {
  @each $position in $positions {
    @for $i from 0 through 12 {
      .#{$type}-#{$position}-#{$i} {
        #{$type}-#{$position}: #{$i/3}em !important;
      }
    }
  }
}

@each $type in $types {
  @for $i from 0 through 12 {
    .#{$type}-horizontal-#{$i} {
      #{$type}-left: #{$i/3}em !important;
      #{$type}-right: #{$i/3}em !important;
    }
    .#{$type}-vertical-#{$i} {
      #{$type}-top: #{$i/3}em !important;
      #{$type}-bottom: #{$i/3}em !important;
    }
    .#{$type}-#{$i} {
      #{$type}: #{$i/3}em !important;
    }
  }
}

.wrapper {
  background: $bg-color;
}

.gold-text {
  color: $icon-links;
  font-size: $header-links;
}

.white-text {
  color: $menu-items;
  font-size: $small;
}

ul li {
  list-style-type: none;
}

.social-media {
  float: right;
}

a:hover {
  color: $icon-links;
}
