<!--The content below is only a placeholder and can be replaced.-->
<div class="snow-wrapper">
  <div class="snow-header snow-row padding-left-27">
    <div class="snow-row">
      <img src="../assets/images/phone-9-16.png" alt="">
      <a class="gold-text padding-left-1 padding-right-2" href="#">{{phone}}</a>
      <img src="../assets/images/envelope-closed-16.png" alt="">
      <a class="gold-text padding-left-4" href="">{{email}}</a>
      <h6 class="white-text padding-left-2 margin-bottom-0">Lightweight // Award-Winning // Eco-Friendly Snowboards</h6>
    </div>
    <div class="social-media padding-left-27">
      <ul class="snow-row margin-bottom-0">
        <li class="padding-right-3">
          <a class="gold-text" href="">Fb</a>
        </li>
        <li class="padding-right-3">
          <a class="gold-text" href="">Twitter</a>
        </li>
        <li>
          <a class="gold-text" href="">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="padding-left-15">
  <div class="logo padding-top-2 margin-top-1">
    <div class="padding-left-2">
      <h6>ECO-FRIENDLY</h6>
    </div>
    <div class="padding-left-1">
      <h3>*NICHE</h3>
    </div>
    <div class="padding-left-2">
      <H6>SNOWBOARDS</H6>
    </div>
  </div>
</div>
<div class="snow-header2">
  <div class="flex-header">
    <ul class="white-text header-menu padding-right-30 padding-top-5 ">
      <li>Snowboards</li>
      <li href="">About</li>
      <li href="">Sustainable Energy</li>
      <li href="">News</li>
      <img src="../assets/images/cart-46-24.png" alt="">
    </ul>
  </div>
  <div>

  </div>
</div>







<router-outlet></router-outlet>