<!--The content below is only a placeholder and can be replaced.-->
<div class="header-container">
  <div class="row">
    <div class="padding-top-12">
      <a class="gold-text" href="#">{{phone}}</a>
    </div>
    <div class="row">
      <a class="gold-text" href="">snowboardsmail@snowboards.com</a>
      <h6 class="white-text">Lightweight // Award-Winning // Eco-Friendly Snowboards</h6>
    </div>
    <div class="social-media">
      <ul class="row">
        <li>
          <a class="gold-text" href="">Fb</a>
        </li>
        <li>
          <a class="gold-text" href="">Twitter</a>
        </li>
        <li>
          <a class="gold-text" href="">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</div>




<router-outlet></router-outlet>