<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <div class="container">
    <div class="row padding-top-2 padding-left-12">
      <div class="padding-right-12">
        <a class="gold-text" href="#">{{phone}}</a>
      </div>
      <div class="row padding-right-12 padding-top-1">
        <a class="gold-text" href="">{{email}}</a>
        <h6 class="white-text padding-left-9 padding-top-1">Lightweight // Award-Winning // Eco-Friendly Snowboards</h6>
      </div>
      <div class="social-media padding-left-12">
        <ul class="row">
          <li class="padding-right-6">
            <a class="gold-text" href="">Fb</a>
          </li>
          <li class="padding-right-6">
            <a class="gold-text" href="">Twitter</a>
          </li>
          <li>
            <a class="gold-text" href="">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>





<router-outlet></router-outlet>